<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_01af1834553f4d71a402ed207f29ebfc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.1.2/dist/leaflet-ant-path.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_01af1834553f4d71a402ed207f29ebfc" ></div>
        
</body>
<script>    
    
            var map_01af1834553f4d71a402ed207f29ebfc = L.map(
                "map_01af1834553f4d71a402ed207f29ebfc",
                {
                    center: [31.95014625, 117.70991125],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: "False",
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f43178c3dfa74f1296e377391a3298db = L.tileLayer(
                "http://webrd02.is.autonavi.com/appmaptile?lang=zh_cn\u0026size=1\u0026scale=1\u0026style=8\u0026x={x}\u0026y={y}\u0026z={z}\u0026ltype=6",
                {"attribution": "AutoNavi", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_01af1834553f4d71a402ed207f29ebfc);
        
    
            ant_path_de167989b2d44b82a88c952535c3df8a = L.polyline.antPath(
              [[31.235107, 121.445263], [34.726934, 113.612011], [30.57526, 114.326122], [31.263284, 121.456249]],
              {"bubblingMouseEvents": true, "color": "#0000FF", "dashArray": [20, 25], "dashOffset": null, "delay": 400, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "hardwareAcceleration": false, "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "paused": false, "pulseColor": "#FFFFFF", "reverse": false, "smoothFactor": 1.0, "stroke": true, "weight": 5}
        ).addTo(map_01af1834553f4d71a402ed207f29ebfc);
        
    
            var marker_f8554cac7ab34f19937051ceac5008de = L.marker(
                [31.235107, 121.445263],
                {}
            ).addTo(map_01af1834553f4d71a402ed207f29ebfc);
        
    
            var marker_6384a36580b04c8b84eafce449141030 = L.marker(
                [34.726934, 113.612011],
                {}
            ).addTo(map_01af1834553f4d71a402ed207f29ebfc);
        
    
            var marker_341b64ded4ce4b6698a1d91c7a9487e9 = L.marker(
                [30.57526, 114.326122],
                {}
            ).addTo(map_01af1834553f4d71a402ed207f29ebfc);
        
    
            var marker_13038dd3f39b44219c2d72069e6fb816 = L.marker(
                [31.263284, 121.456249],
                {}
            ).addTo(map_01af1834553f4d71a402ed207f29ebfc);
        
</script>